@import './fonts.scss';

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    font-family: Inter;
    background: #000000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.page-content {
    padding-top: 5rem;
}

/*
    Colors
*/

$red: #e2040c;
$black: #000;
$white: #FFF;
$lightRed: #FBEEE6;
$yellow: #ffcc01;
$gold: #c8a118;

.color-red{ color: #e2040c; };
.color-black{ color: #000; };
.color-white{ color: #FFF; };
.color-lightRed{ color: #FBEEE6; };
.color-yellow{ color: #ffcc01; };
.color-gold{ color: #c8a118; };

/*
    Breakpoints;
*/

$responsiveSize: 768px;
.only-mobile {
    display: none;
}
.only-mobile-fl {
    display: none;
}
.only-desktop {
    display: block;
}
.only-desktop-fl {
    display: flex;
}
.only-desktop-tb-cell {
    display: table-cell;
}
  
@media only screen and (max-width: $responsiveSize) {
    .only-mobile {
        display: block;
    }
    .only-mobile-fl {
        display: flex;
    }
}

@media (max-width: $responsiveSize) {
    .only-desktop {
      display: none !important;
    }
    .only-desktop-fl {
        display: none !important;
    }
    .only-desktop-tb-cell {
        display: none !important;
    }
}


@import './includes.scss';